:root {
  --primary-color: #000000; /* Black */
  --secondary-color: #fff; /* White */
  --accent-color: #aa9e1b;
  --background-color: #e6e1f5;
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

/* header */

header{
  height: 60px;
  padding: 2px 6%;
  background-color: var(--secondary-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #ebebeb;
  position: sticky;
  top: 0;
  z-index: 999;
}
.menu-btn{
  display: none;
  width: 40px;
  text-align: center;
  margin-right: 10px;
}
.menu-btn i{
  font-size: 1.8rem;
  cursor: pointer;
}
.logo{
  width: max-content;
  object-fit: contain;
}
.nav-links{
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav-links a{
  text-decoration: none;
  color: #111010;
  font-weight: 400;
  padding: 10px;
  margin-right: 10px;
  transition: 0.3s;
}
.nav-links a:hover{
  color: var(--accent-color);
}
.nav-links a::after{
  content: '';
  width: 0%;
  height: 1px;
  background-color: var(--accent-color);
  display: block;
  transition: 0.5s;
}
.nav-links a:hover::after{
  width: 100%;
}

.last-nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
}
.favorite-icon i{
  font-size: 20px;
  color: var(--primary-color);
}
.sign i{
  padding: 10px;
  font-size: 22px;
  cursor: pointer;
}
.shopping-icon, .favorite-icon, .sign{
  position: relative;
  padding: 10px;
}
.shopping-icon i{
  font-size: 22px;
  color: var(--primary-color);
}
#cart-count {
  background: var(--accent-color);
  color: white;
  font-family:Arial, Helvetica, sans-serif;
  font-size: 14px;
  padding: 4px 6px;
  border-radius: 50%;
  position: absolute;
  top: -2px;
  right: -10px;
}


/* cart */
.cart-steps{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  margin-top: 40px;
}
.steps{
  display: flex;
  align-items: center;
  gap: 10px;
}
.steps-container{
  padding: 10px;
}
.disabled{
  opacity: 0.4;
}
.steps-container::after{
  content: '';
  width: 100%;
  height: 2px;
  background-color: var(--accent-color);
  display: block;
  margin-top: 10px;
  border-radius: 10px;
}
.span-num{
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: var(--accent-color);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}


/* cart warpper */
.cart-container-wrapper{
  display: flex;
  align-items: start;
  justify-content: center;
  gap: 20px;
  padding: 1.5% 6%;
  min-height: 400px;
}
.checkout-inputs-container{
  flex: 1;
  align-self: stretch;
  background-color: #fff;
  border-radius: 5px;
  padding: 10px 10px;
}
.cart-details-container{
  background-color: #fff;
  border-radius: 5px;
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.checkout-inputs{
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.name-inputs,
.city-state,
.zip-country{
  display: flex;
  gap: 10px;
}
.name-inputs input,
.city-state input,
.zip-country input,
.email-inputs input,
.phone-inputs input{
  padding: 12px;
  flex: 1;
  border-radius: 5px;
  outline: none;
  border: 1px solid #ccc;
  font-size: 16px;
}
.email-inputs,
.phone-inputs{
  display: flex;
}
.email-inputs input,
.phone-inputs input{
  flex: 1;
}

/* payment */
.cart-details-payment{
  flex: 0.7;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.payment-container{
  background-color: #fff;
  border-radius: 5px;
  padding: 10px 0px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.payment-container h1{
  font-size: 18px;
  font-weight: 400;
}
.payment-div{
  display: flex;
  align-items: center;
  gap: 10px;
}
.payment-div .one,
.payment-div .two,
.payment-div .three{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  border: 1px solid #ccc;
  padding: 10px;
  cursor: pointer;
}
.payment-div .three{
  flex: 1;
}
.payment-div .one h1,
.payment-div .two h1,
.payment-div .three h1{
  font-size: 16px;
  font-weight: 400;
}

.place-orderBtn{
  width: 100%;
  display: flex;
  justify-content: right;
}
.place-orderBtn button{
  padding: 12px;
  width: 60%;
  background-color: var(--accent-color);
  color: var(--secondary-color);
  font-size: 16px;
  text-transform:uppercase;
  cursor: pointer;
  border: none;
}

/* Summary */
.summary {
  margin-top: 15px;
}
.summary-info,
.summary-info-total{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
}
.summary-info.one{
  margin-bottom: 0;
}
.summary-info p{
  color: #777;
}
.summary-info span{
  font-weight: 500;
  font-family: 'Times New Roman', Times, serif;
}
#total-items{
  color: #777;
  font-size: 18px;
  font-family: 'Times New Roman', Times, serif;
}
#discount{
  color: red;
  font-weight: 400;
}
.summary-info-total{
  border-top: 1px solid #ccc;
  padding: 15px 0;
  margin-bottom: 0px
}
.summary-info-total p,
.summary-info-total span{
  font-weight: 600;
}
.summary-info-btn button{
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: var(--accent-color);
  color: var(--secondary-color);
  font-size: 16px;
  cursor: pointer;
}
.summary-info-btn button i{
  margin-left: 8px;
  font-size: 14px;
}
.empty-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}
.left-empty{
  display: flex;
  align-items: center;
  gap: 10px;
  flex: 1;
}
.left-empty i{
  font-size: 24px;
  color: var(--accent-color);
}
.left-empty p{
  font-size: 18px;
  font-weight: 500;
}
.right-empty-btn a{
  padding: 15px 70px;
  text-decoration: none;
  background-color: var(--accent-color);
  color: var(--secondary-color);
  border-radius: 8px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.2s;
}
.right-empty-btn button:hover{
  background-color: #c0b32e;
}


/* footer */
.footer{
  display: flex;
  gap: 20px;
  padding: 50px 80px;
  margin-top: 50px;
  background-color: #000;
}
.left-footer{
  flex: 2;
  margin-right: 90px;
}
.footer-logo{
  font-size: 28px;
  font-family: 'Times New Roman', Times, serif;
  color: #fff;
  margin-bottom: 20px;
}
.left-footer p{
  color: #999;
}
.center-footer, .right-footer, .follow-footer{
  display: flex;
  flex-direction: column;
  flex: 1;
}
.footer-title{
  color: #fff;
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 20px;
}
.footer-title::after{
  content: '';
  height: 2px;
  width: 25%;
  background-color: var(--accent-color);
  display: block;
  margin-top: 10px;
}
.company-list li,
.footer-help li{
  list-style: none;
  margin-bottom: 10px;
  cursor: pointer;
  color: #777;
  transition: all 0.3s;
}
.company-list li:hover,
.footer-help li:hover{
  color: var(--accent-color);
}
.follow-icons{
  display: flex;
  align-items: center;
  gap: 10px;
}
.follow-icons-div{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: #555;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s;
}
.follow-icons-div i{
  color: #ffff;
  font-size: 18px;
  transition: 0.3s;
}
.follow-icons-div:hover{
  background-color: #444;
}
.follow-icons-div:hover.follow-icons-div i{
  color: var(--accent-color);
}
footer{
  margin-top: 0;
  border-top: 1px solid #555;
  padding: 10px;
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
}
footer p{
  color: #aaa;
  padding-bottom: 10px;
}
.deco-title-div{
  margin-top: 15px;
  padding: 10px;
  margin-bottom: 10px;
}
.deco-title-div h1{
  font-size: 24px;
  font-weight: 400;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.deco{
  color: var(--accent-color);
}

/* overlay */

.overlay {
  position: fixed;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background: rgba(0,0,0,0.6);
  display: flex; flex-direction: column;
  align-items: center; justify-content: center;
  color: white;
  font-size: 18px;
  z-index: 1000;
}

/* Spinner */
.spinner {
  border: 5px solid #f3f3f3;
  border-top: 5px solid #333;
  border-radius: 50%;
  width: 50px; height: 50px;
  animation: spin 1s linear infinite;
  margin-bottom: 15px;
}
@keyframes spin {
  100% { transform: rotate(360deg); }
}

/* Modal */
.modal {
  position: fixed;
  top: 0; left: 0;
  width: 100%; height: 100%;
  display: flex; align-items: center; justify-content: center;
  background: rgba(0,0,0,0.5);
  z-index: 2000;
}

.modal-content {
  background: #fff;
  padding: 50px 30px;
  border-radius: 10px;
  text-align: center;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: start;
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}
.celebration-wrapper {
  position: relative;
  display: inline-block;
}

.tick-order-div{
  background-color: var(--accent-color);
  width: 80px;
  height: 80px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  position: relative;
  z-index: 2;
}
.tick-order-div i{
  color: var(--secondary-color);
  font-size: 48px;
}
.modal-content h2{
  color: var(--accent-color);
  font-weight: 400;
  margin-bottom: 5px;
}
.modal-content p{
  color: #555;
  font-size: 14px;
  margin-bottom: 5px;
}
.modal-content button{
  background-color: var(--accent-color);
  width: 100%;
  border: none;
  border-radius: 5px;
  color: var(--secondary-color);
  padding: 12px;
  font-size: 16px;
  cursor: pointer;
}
.modal-content button:last-child{
  background-color: var(--secondary-color);
  color: var(--accent-color);
  border: 0.5px solid #ccc;
}

.hidden { display: none; }

/* animation */
.dot {
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  background: var(--accent-color);
  opacity: 0.8;
  animation: pop 1.5s ease-out forwards;
}

.dot.small { width: 6px; height: 6px; }
.dot.medium { width: 10px; height: 10px; }
.dot.big { width: 14px; height: 14px; }

/* Animation */
/* @keyframes pop {
  0%, 100% {
    transform: scale(0.5) translate(-50%, -50%);
    opacity: 0.3;
  }
  50% {
    transform: scale(1.5) translate(
      calc(-50% + 50px * cos(var(--i) * 36deg)),
      calc(-50% + 50px * sin(var(--i) * 36deg))
    );
    opacity: 1;
  }
} */
@keyframes pop {
  0% {
    transform: translate(-50%, -50%) scale(0.3);
    opacity: 0;
  }
  100% {
    transform: translate(
      calc(-50% + 70px * cos(var(--i) * 39deg)),
      calc(-50% + 50px * sin(var(--i) * 36deg))
    ) scale(1);
    opacity: 1;
  }
}


/* mobile */
@media (max-width: 600px) {
  
  header{
    padding: 0 3%;
  }
  .menu-btn {
    display: block;
  }
  .nav-links {
    display: none;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    flex-direction: column;
    gap: 5px;
    padding: 20px;
    background: white;
    box-shadow: 0px 5px 10px rgba(0,0,0,0.1);
  }
  .nav-links.active {
    display: flex;
  }
  .logo{
    padding-top: 3px;
    width: 100px;
    object-fit: cover;
    object-position: center;
    flex: 1;
  }
  .favorite-icon, .sign, .shopping-icon{
    padding: 5px;
  }
  .last-nav{
    gap: 0px;
  }
  .shopping-icon{
    margin-right: 10px;
  }

  /*cart steps */
  .cart-sec{
    padding: 0px 3%;
  }
  .cart-steps{
    display: none;
  }
  /* cart Container */
  .cart-container-wrapper{
    display: flex;
    flex-direction: column;
    padding: 0;
  }
  .cart-details-container{
    padding: 0;
  }
  .cart-details-payment{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px 20px;
  }
  .summary-info.one{
    padding: 10px 0;
    cursor: pointer;
  }
  .summary-info h3{
    font-size: 18px;
    font-weight: 400;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  .toggle-summary{
    display: none;
    cursor: pointer;
    font-size: 16px;
    transition: transform 0.3s ease;
  }
  input[type='radio']{
    accent-color: red;
  }

  .footer{
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 50px;
    gap: 40px;
  }
  .left-footer{
    width: 100%;
  }
  .center-footer, .right-footer, .follow-footer{
    width: 100%;
  }
  .footer-title::after{
    width: 13%;
    margin-top: 8px;
  }
}

@media (min-width: 768px) {
  #toggle-summary-span {
    display: none;
  }
  .your-cart-text{
    display: none;
  }
}