:root {
  --primary-color: #000000; /* Black */
  --secondary-color: #fff; /* White */
  --accent-color: #aa9e1b;
  --background-color: hsl(264, 45%, 98%);
}
*{
  padding: 0;
  margin: 0;
}

body{
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

/*  header */

header{
  padding: 0 6%;
  height: 60px;
  background-color: var(--secondary-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #ebebeb;
  position: sticky;
  top: 0;
  z-index: 999;
}
.menu-btn{
  display: none;
  width: 40px;
  text-align: center;
  margin-right: 10px;
}
.menu-btn i{
  font-size: 1.8rem;
  cursor: pointer;
}
.logo{
  width: max-content;
}
.nav-links{
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav-links a{
  text-decoration: none;
  color: #111010;
  font-weight: 400;
  padding: 10px;
  margin-right: 10px;
  transition: 0.3s;
}
.nav-links a:hover{
  color: var(--accent-color);
}
.nav-links a::after{
  content: '';
  width: 0%;
  height: 1px;
  background-color: var(--accent-color);
  display: block;
  transition: 0.5s;
}
.nav-links a:hover::after{
  width: 100%;
}

.last-nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
}
.favorite-icon i{
  font-size: 20px;
  color: var(--primary-color);
}
.sign i{
  padding: 10px;
  font-size: 22px;
  cursor: pointer;
}
.shopping-icon, .favorite-icon, .sign{
  position: relative;
  padding: 10px;
}
.shopping-icon i{
  font-size: 22px;
  color: var(--primary-color);
}
#cart-count {
  background: var(--accent-color);
  color: white;
  font-family:Arial, Helvetica, sans-serif;
  font-size: 14px;
  padding: 4px 6px;
  border-radius: 50%;
  position: absolute;
  top: -2px;
  right: -10px;
}
.fav-items-sec{
  padding: 0 6%;
}
.title-search{
  margin: 30px 0 20px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.title{
  font-size: 24px;
  font-weight: 400;
}
.title::after{
  content: '';
  display: block;
  background-color: var(--accent-color);
  height: 2px;
  margin-top: 5px;
}
.favorite-search{
  position: relative;
}
.favorite-search i {
  position: absolute;
  top: 15px;
  left: 15px;
  color: var(--accent-color);
}
.favorite-search input{
  background-color: #f9f7fc;
  padding: 15px 40px;
  border: none;
  outline: none;
  border-radius: 4px;
  font-size: 14px;
}

#fav-items{
  background:linear-gradient(180deg, hsl(255, 50%, 97%), #fff);
  display: flex;
  align-items: center;
  gap: 15px;
  flex-wrap: wrap;
  padding: 20px 25px;
  border-radius: 5px;
  padding-bottom: 10%;
}
.fav-item{
  width: 205px;
  padding: 10px;
  background-color: #fff;
  border-radius: 10px;
  position: relative;
  border: 0.5px solid #ddd;
  cursor: pointer;
  transition: 0.2s;
}
.fav-item:hover{
  box-shadow: 1px 1px 10px rgba(0,0,0,0.1);
}
.close-div .fa-close{
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 16px;
  cursor: pointer;
  color: #555;
  background-color: #fff;
  padding: 5px 8px;
  border-radius: 50%;
  box-shadow: 1px 1px 10px rgba(0,0,0,0.1);
}
.fav-item img{
  width: 100%;
  height: 200px;
  object-fit: contain;
  margin-bottom: 30px;
}
.fav-item h3{
  color: #151515;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 10px;
}
.desc p{
  color: #555;
  line-height: 1.4em;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  white-space: normal;
  max-width: 200px;
  margin-bottom: 5px;
}
.rating{
  display: flex;
  align-items: center;
  gap: 3px;
  margin-bottom: 5px;
}
.rating i{
  color: var(--accent-color);
  font-size: 14px;
  margin-bottom: 10px;
}
.price-cart{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 0;
}

.cart{
  background-color: #fff;
}
.add-to-cart{
  width: 50px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.add-to-cart i{
  color: var(--primary-color);
  font-size: 20px;
  transform: translate(-8px);
  transition: transform 1s;
}

/* message */
.message-container {
  position: fixed;
  top: 60px;
  left: 50%;
  transform: translate(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.check-icon{
  background-color: var(--accent-color);
  padding: 3px;
  border-radius: 50%;
  font-size: 14px;
  position: absolute;
  left: 10%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
}
.success-message {
  position: relative;
  background: var(--secondary-color);
  color: #000;
  font-size: 16px;
  font-weight: 400;
  font-family: Arial, Helvetica, sans-serif;
  padding: 10px 0px;
  padding-left: 40px;
  padding-right: 10px;
  width: max-content;
  border-radius: 5px;
  box-shadow: 2px 2px 10px rgba(0,0,0,0.3);
  opacity: 0.9;
  transition: opacity 0.5s;
}
.footer{
  display: flex;
  gap: 20px;
  padding: 50px 80px;
  margin-top: 50px;
  background-color: #000;
}
.left-footer{
  flex: 2;
  margin-right: 90px;
}
.footer-logo{
  font-size: 28px;
  font-family: 'Times New Roman', Times, serif;
  color: #fff;
  margin-bottom: 20px;
}
.left-footer p{
  color: #999;
}
.center-footer, .right-footer, .follow-footer{
  display: flex;
  flex-direction: column;
  flex: 1;
}
.footer-title{
  color: #fff;
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 20px;
}
.footer-title::after{
  content: '';
  height: 2px;
  width: 25%;
  background-color: var(--accent-color);
  display: block;
  margin-top: 10px;
}
.company-list li,
.footer-help li{
  list-style: none;
  margin-bottom: 10px;
  cursor: pointer;
  color: #777;
  transition: all 0.3s;
}
.company-list li:hover,
.footer-help li:hover{
  color: var(--accent-color);
}
.follow-icons{
  display: flex;
  align-items: center;
  gap: 10px;
}
.follow-icons-div{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: #555;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s;
}
.follow-icons-div i{
  color: #ffff;
  font-size: 18px;
  transition: 0.3s;
}
.follow-icons-div:hover{
  background-color: #444;
}
.follow-icons-div:hover.follow-icons-div i{
  color: var(--accent-color);
}
footer{
  margin-top: 0;
  border-top: 1px solid #555;
  padding: 10px;
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
}
footer p{
  color: #aaa;
  padding-bottom: 10px;
}
@media (max-width: 600px) {
  .menu-btn {
    display: block;
  }
  .nav-links {
    display: none;
    position: absolute;
    top: 60px;
    left: 0;
    width: 93%;
    flex-direction: column;
    gap: 5px;
    background: white;
    padding: 20px;
    border-top: 1px solid #ddd;
  }
  .nav-links.active {
    display: flex;
  }
  .logo{
    padding-top: 3px;
    width: 100px;
    flex: 1;
  }
  .favorite-icon, .sign, .shopping-icon{
    padding: 5px;
  }
  .last-nav{
    gap: 0px;
  }
  .shopping-icon{
    margin-right: 10px;
  }
}
@media (max-width: 600px) {
  header{
    padding: 0px 3%;
  }
  .fav-items-sec{
    padding: 0 2%;
  }
  #fav-items{
    padding: 20px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
  }
  .fav-item {
    max-width: 170px;
    margin-bottom: 5px;
    box-shadow: 1px 1px 10px rgba(0,0,0,0.1);
  }
  .fav-item:hover{
    box-shadow: 1px 1px 10px rgba(0,0,0,0.3);
  }
  .fav-item img{
    margin-bottom: 0px;
  }
  
  .title-search{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 95%;
  }
  .title{
    width: 100%;
  }
  .title::after{
    width: 22%;
  }
  .favorite-search{
    width: 100%;
  }
  .favorite-search input{
    padding: 15px 40px;
    width: 82%;
    font-size: 16px;
  }
  .real-footer{
    padding: 0;
  }
  .footer{
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 50px;
    gap: 40px;
  }
  .left-footer{
    width: 100%;
  }
  .center-footer, .right-footer, .follow-footer{
    width: 100%;
  }
  .footer-title::after{
    width: 13%;
    margin-top: 8px;
  }
}